.container {
  max-width: 996px;
  padding: 0 30px 30px 30px;
  margin-right: auto;
  margin-left: auto;
}

.text {
  font-size: 24px;
  text-align: center;
  text-indent: 40px;
}

.textLast {
  padding: 0 16px;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.link {
  display: inline-block;
  color: #ff6f00;
}
