.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
}

.button {
  width: auto;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
